<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Weather Information</title>
</head>

<body>
  <div class="container">
    <h1>Weather Information</h1>
    <div class="weather-info">
      <p><strong>City:</strong>
        <%= data.name %>
      </p>
      <p><strong>Temperature:</strong>
        <%= data.main.temp %> °F
      </p>
      <p><strong>Description:</strong>
        <%= data.weather[0].description %>
      </p>
    </div>
    <a href="/" class="back-link">Back to Home</a>
  </div>
</body>

</html>