<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
</head>

<body>

  <h1>Display Weather Information</h1>
  <p>City: <%= weatherData.city %>
  </p>
  <p>Temperature: <%= weatherData.temp %> °F</p>
  <p>Description: <%= weatherData.description %>
  </p>
  <a href="/">Back to home!</a>


</body>

</html>